body {
    background-color: darkgray;
    color: white;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: #0fbebe;
    color: white;
    font-family: "Inconsolata", monospace;

}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}